<div class="landing-page-container">
    <div class="landing-page-first-section">
        <div class="first-section-main-content">
            <img src="../../../../../../assets/images/logo.png" alt="" class="logo large" width="150">
            <h1>OVER<span>NOTE</span></h1>
            <div class="landing-page-secondary-text">
                <h3>Important notes for </h3>
                <h3>important ideas</h3>
            </div>
            <a href=""><div class="primary-button">Sign up</div></a>  
        </div>
    
    </div>
    <div class="landing-page-second-section">
        <div class="laptop-section">
            <img src="../../../../../../assets/images/laptop.png" alt="" class="laptop-img" width="800">
        </div>
        <div class="benefits">
            <div class="line"></div>
            <div class="benefit-left-side benefit-item">
                <img class="left-side-point" src="../../../../../../assets/images/icons/point.png" width="12">
                <div class="benefit-text-container">
                    <h2 class="benefit-header">FOR TASKS</h2>
                    <p class="benefit-secondary-text">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        consequat. 
                    </p>
                </div>
            </div>
            <div class="benefit-right-side benefit-item">
                <img class="right-side-point" src="../../../../../../assets/images/icons/point.png" width="12">
                <div class="benefit-text-container">
                    <h2 class="benefit-header">FOR TASKS</h2>
                    <p class="benefit-secondary-text">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        consequat. 
                    </p>
                </div>
            </div>
            <div class="benefit-left-side benefit-item">
                <img class="left-side-point" src="../../../../../../assets/images/icons/point.png" width="12">
                <div class="benefit-text-container">
                    <h2 class="benefit-header">FOR TASKS</h2>
                    <p class="benefit-secondary-text">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        consequat. 
                    </p>
                </div>
            </div>
        </div>
        

    </div>
    
</div>
